version: "3.9"

networks:
  proxy-net:
    external: true

services:
  youtube-intel-backend:
    build:
      context: ${PWD}/backend
      dockerfile: ${PWD}/backend/Dockerfile
    env_file:
      - ${PWD}/backend/.env
    expose:
      - "4000"
    networks:
      - proxy-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.yt-backend.rule=Host(`yt-analytics.gravvisoft.com`) && PathPrefix(`/api`)"
      - "traefik.http.routers.yt-backend.entrypoints=websecure"
      - "traefik.http.routers.yt-backend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.yt-backend.service=yt-backend-svc"
      - "traefik.http.services.yt-backend-svc.loadbalancer.server.port=4000"
      - "traefik.http.routers.yt-backend-web.rule=Host(`yt-analytics.gravvisoft.com`) && PathPrefix(`/api`)"
      - "traefik.http.routers.yt-backend-web.entrypoints=web"
      - "traefik.http.routers.yt-backend-web.middlewares=redirect-to-https,yt-api-strip"
      - "traefik.http.routers.yt-backend.middlewares=yt-api-strip"
      - "traefik.http.middlewares.yt-api-strip.stripprefix.prefixes=/api"
    restart: unless-stopped
