version: "3.9"

networks:
  proxy-net:
    external: true

services:
  youtube-intel-backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "4001:4000"
    expose:
      - "4000"
    networks:
      - proxy-net
    restart: unless-stopped
